*{
	padding: 0px;
	margin: 0px;
    box-sizing: border-box;
}
 /*menu*/

.logos > img{
	width: 90px;
}

#logo{
	width: 110px;
	height: 110px;
	margin: 2px;
    margin-top: 7px;
	margin-left: 10px;
}

.menu{
	background-color: #f7f1e3;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#name{
	margin-right: 550px;
	margin-top: 1px;
	font-size: 75px;
	color: #2C1A0B;
	font-family: 'Kaushan Script', cursive;
}

/*fim menu*/

hr{
   background-color: #f8c291;
   border: 0 none;
   color: #f8c291;
   height: 4px;
}

body{
	background-image: url(../imgs/fundo.png); /*plano de fundo*/
	background-size: 100% 100%;
	background-repeat: no-repeat;

	height: 100vh;
	width: 98,5vw;
}

#mens{
	text-align: center; /*texto da tela*/
	margin-top: 250px;
	font-size: 50px;
	color: #f7f1e3;
	font-family: 'Kaushan Script', cursive;
}